[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/SyrineSey
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/SyrineSey
	label-Verified = -1..+1 group user/SyrineSey
	push = group user/SyrineSey
	read = group user/SyrineSey
	rebase = group user/SyrineSey
	removeReviewer = group user/SyrineSey
	submit = group user/SyrineSey
[access "refs/heads/*"]
	create = group user/SyrineSey
	push = +force group user/SyrineSey
	pushMerge = group user/SyrineSey
	read = group user/SyrineSey
[access "refs/tags/*"]
	push = group user/SyrineSey
	push = +force group user/SyrineSey
